input[type=text],
input[type=password] {
    width: 130px;
    padding: 5px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


button {
    background-color: #af0918;
    color: white;
    padding: 5px 5px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 90px;
    text-align: center;
}

button:hover {
    opacity: 0.8;
}

.imgContainer {
    text-align: center;
    margin: 25px 0 25px 0;
}

img.avatar {
    width: 25%;
    border-radius: 25%;
}

.container {
    padding: 16px;
    text-align: right;
    background-color: #2a2c2e;
}

span.password {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 200px) {
    span.password {
        display: block;
        float: none;
    }

    .cancelButton {
        width: 50%;
    }
}